<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="A1" fileName="level5Debug.log" append="false">
      <PatternLayout pattern="%l: [%p] - %m%n " />
    </File>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
    </Console>
  </Appenders>
  <Loggers>

    
    <Logger name="net.impact_eu.ecvet" level="debug"> 
    </Logger> 

    <Root level="error">
      <AppenderRef ref="A1" />
      <AppenderRef ref="STDOUT" /> 
    </Root>
  </Loggers>
</Configuration>